@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
	overflow-x: hidden;
	background-color: #101010;
	max-width: 1440px;
}

.app {
	display: flex;
	justify-content: space-between;
}
